

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> CRS </title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css"/>
</head>
<body>

<div class="div1">
    <p> Diagnose System </p>
</div>


<div class="div3">
    <img src="resp1.jpg"/>
  <div class="center"> Diagnose respiratory disease</div>
    <ul><li>
 <a href="{{ url_for('crop')}}"> disease prediction </a> </li>
        <li> <a href="{{ url_for('crop1')}}"> Diagnose respiratory disease </a> </li></ul>
</div>
<div id="div4">
<p>@Copyrights</p>
</div>
</body>
</html>